<p>Hey {{ name }}</p>
<p>Thanks for signing up. Please confirm your email address by clicking on the link below.</p>
<p><a href="{{ confirmationUrl }}">Confirm email address</a></p>
```

<p>If you did not request this mail you can safely ignore this message.</p>